<div>
    <nav>
        <nav class="navbar sticky-top">
            <div class="t">
                <a href="/">
                    <span class="node">Note</span> <span class="wise">Wise</span>
                </a>
            </div>
            <div class="nav-links">
                <% if(!curUser) { %>
                    <a href="/signup" class="register">Sign Up</a>
                    <a href="/login" class="register">Login </a>
                    <% } else { %>
                        <a href="/logout" class="register">Logout</a>
                        <% } %>
            </div>
        </nav>
    </nav>
</div>